div {
    width: 70%;
    margin: auto;
}

#TopNav {
    float: right !important;
}

#Topnavv {
    display: block;
}

#Topnav {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: red;
}

#TopNav #Topnavv {
display: block;
color: black;
text-align: center;
padding: 17px 0px;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;

}

ul img {
    float :right !important;
    width: 30px;
    margin: 11px;
    margin-right: 150px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 60px;
    padding-left: 0.2rem !important;
    padding-right: 0.2rem !important;
}
.Nav {
    float: left;
}

.Nav .Nava {
    display: block;
    padding: 10px 18px;
    color: gray;
    text-align: center;
    text-decoration:dashed;
    font-family: Arial, Helvetica, sans-serif;
    cursor :pointer;
}

.Nava:hover {
    color: black;
}

#Menunav {
    display: block;
}

#MenuNav {
    float: right !important;
    width: 100%;
    display: block;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #F9D1AD;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-top: 10px;
    color: #FFFFFF;
}


